.heading {
    font-size: 25px;
    width: 100%;
    margin: 0px;
}

.note {
    font-size: 25px;
    color: blue;
}

body {
    background-size: cover;
}

canvas {
    border: 5px solid black;
    border-radius: 20px;
}

#song {
    font-size: 23px;
    margin: 15px;
}